/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/clinic/clinic.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.clinic_clinicContainer__3evxq {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.clinic_title__cKa9g {
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.clinic_content__Avz7i {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
} 
